@import "@/styles/rules.scss";

.gasContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;

  .question {
    margin-left: 4px;
    padding: 0px 4px;

    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid rgb(var(--foreground-rgb));

    cursor: pointer;
    user-select: none;
  }

  .gasSlider {
    width: 40%;
    height: 10px;
    background-color: rgba(var(--foreground-rgb), 0.15);
    border-radius: 6px;

    .gasSelector {
      width: 24px;
      height: 24px;
      margin-top: -6px;
      border-radius: 50%;
      background-color: rgba(var(--foreground-rgb), 1);
      cursor: pointer;
    }
  }

  .sliderLoading {
    width: 40%;
    height: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gasDetails {
  margin-left: 45%;
  width: 50%;
  margin-top: 2vh;
  transition: opacity 0.15s ease-out;

  @include tablet {
    margin-left: 60%;
    width: 40%;
    margin-top: 1.5vh;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  .gasAmount {
    font-size: 18px;
    font-weight: 300;

    .gasCoin {
      display: inline-block;
      width: 60px;
    }
  }
}
