@import "@/styles/rules.scss";

.header {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(var(--foreground-rgb), 0.05);
  border-bottom: 2px solid rgb(var(--foreground-rgb));

  img {
    margin-left: 2%;

    filter: invert(1);
    @include dark {
      filter: invert(0);
    }
  }

  button {
    width: 200px;
    max-width: 40vw;
    height: 4vh;
    padding: 0px 16px;
    margin-right: 2%;

    border: 0px;
    border-radius: 6px;
    cursor: pointer;

    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-end-rgb));
    font-size: 16px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1rem;

    &::before {
      background: var(--secondary-glow);
      border-radius: 50%;
      width: 55vw;
      height: 40vh;
      margin-left: -400px;
    }

    &::after {
      background: var(--primary-glow);
      width: 240px;
      height: 180px;
      z-index: -1;
    }

    &::before,
    &::after {
      content: "";
      left: 50%;
      position: absolute;
      filter: blur(45px);
      transform: translateZ(0);
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 42px;

      gap: 12px;
      opacity: 0.85;
      margin-bottom: 1rem;
      img {
        user-select: none;
      }
    }

    .subtitle {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 3vh;
      margin-left: 10vw;
      margin-right: 10vw;
      text-align: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      z-index: 2;

      background-color: rgba(var(--foreground-rgb), 0.1);
      border-radius: 8px;
      padding: 1rem;

      height: 75vh;
      width: 85vw;
      @include tablet {
        width: 720px;
      }
      @include bigDesktop {
        width: 920px;
      }

      .fromToContainer {
        display: flex;
        flex-direction: row;
      }

      .chain {
        display: flex;
        flex-direction: column;
        width: 40vw;
        font-weight: 500;
      }

      button {
        // width: 100%;
        border: 0px;
        border-radius: 6px;
        height: 3vh;
        margin-top: 3vh;
        font-size: 16px;
        cursor: pointer;
        background-color: rgba(var(--foreground-rgb), 0.05);

        &:hover {
          background-color: rgba(var(--foreground-rgb), 0.1);
        }
      }
    }

    .boxText {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0.5vh;
    }

    .usdcInputContainer {
      width: 100%;
      background-color: rgba(var(--foreground-rgb), 0.05);
      border-radius: 6px;
      height: 42px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        background-color: transparent;
        width: 80%;
        margin-left: 1%;

        font-size: 18px;
        font-weight: 500;

        border: 0px;
        &:focus {
          outline: 0px;
        }
      }

      .usdcText {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 2%;
        gap: 8px;

        font-size: 16px;
        font-weight: 500;
      }
    }

    .poweredBy {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 1vh;
      gap: 8px;

      span {
        font-size: 18px;
      }

      img {
        @include dark {
          filter: invert(1) brightness(100);
        }
      }
    }
  }
}
