@import "@/styles/rules.scss";

.header {
  width: 100%;
  height: max(6vh, 36px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  .gradBg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: max(6vh, 36px);
    background: linear-gradient(
      rgba(var(--background-end-rgb), 0.5),
      rgba(var(--foreground-rgb), 0)
    );
  }

  .logo {
    display: flex;
    font-weight: 500;
    margin-right: 6px;

    a {
      font-size: 14px;
      @include tablet {
        font-size: 16px;
      }
    }

    img {
      filter: invert(0);
    }
  }

  .headerInteractions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    transform: scale(0.8) translateX(-8px);
    @media only screen and (min-width: 391px) {
      transform: scale(0.9) translateX(-8px);
    }
    @media only screen and (min-width: 415px) {
      transform: none;
    }

    .headerLink {
      text-underline-offset: 6px;
      font-size: 14px;
      letter-spacing: 0.15px;
      font-family: "Suisse BP Intl", sans-serif;
      margin-right: 4px;
      @include tablet {
        margin-right: 16px;
      }
      @include desktop {
        margin-right: 32px;
      }

      &:hover {
        text-decoration: underline;
      }

      a[href="https://stable.portalbridge.com/"]
      {
        text-decoration: underline;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-weight: 400;

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 1vh;
    margin-top: 2vh;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      font-size: 60px;
      @include tablet {
        font-size: 70px;
      }

      @include desktop {
        font-size: 78px;
      }

      gap: 12px;
      opacity: 0.85;
      margin-bottom: 1rem;
      img {
        user-select: none;
      }
    }

    .subtitle {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 3vh;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;

      .CCTP {
        font-weight: 700;
      }
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 2;

      box-shadow: inset 0px 0px 2px 0px rgba(var(--foreground-rgb), 0.3);
      background-color: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(4px);

      border-radius: 8px;

      padding: 1rem;
      // width: 85vw;
      width: 85%;

      @include tablet {
        width: 554px;
        padding: 1.5rem;
      }
      @include bigDesktop {
        padding: 2rem;
      }

      .blocked {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
        z-index: 15;
        background: rgba(var(--foreground-rgb), 0.1);
      }

      .fromToContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        gap: 4px;
        @include tablet {
          gap: 16px;
        }
      }

      .chain {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: 500;
      }

      .balance {
        margin-bottom: -2vh;

        .balanceTxt {
          color: rgba(var(--foreground-rgb), 0.85);
        }
        .maxTxt {
          font-weight: 600;
          margin-left: 8px;
          cursor: pointer;
        }
      }

      .separator {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 3vh;
        margin-bottom: 3vh;

        height: 2px;
        border-radius: 6px;
        background-color: rgba(var(--foreground-rgb), 0.15);
      }

      button {
        border: 0px;
        border-radius: 6px;
        height: 40px;
        margin-top: 3vh;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        font-family: inherit;
        box-shadow: 2px 2px 2px 0px rgba(var(--foreground-rgb), 0.3);

        background-color: rgba(var(--foreground-rgb), 0.95);
        color: black;

        &:hover {
          background-color: rgb(var(--foreground-rgb));
        }

        &.btnLoading {
          display: inline-block;
          padding: 6px 24px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: not-allowed;
          user-select: none;
          position: relative;
          overflow: hidden;
          background-image: linear-gradient(
            90deg,
            var(--foreground-rgb) dd,
            var(--foreground-rgb)
          );

          &.txLoading::before {
            animation: loading 1000s forwards !important;

            background-image: linear-gradient(
              90deg,
              rgba(var(--background-start-rgb), 0.3),
              rgba(var(--background-start-rgb), 0.35),
              rgba(var(--background-start-rgb), 0.3)
            );
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            animation: loading 1.5s infinite;

            background-image: linear-gradient(
              90deg,
              rgba(var(--background-start-rgb), 0.1),
              rgba(var(--background-start-rgb), 0.2),
              rgba(var(--background-start-rgb), 0.15)
            );
          }
        }
      }
    }

    .boxText {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0.5vh;
    }

    .poweredBy {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 1vh;
      gap: 8px;
      padding-bottom: 40px;

      transform: scale(0.8);
      @include tablet {
        transform: scale(1);
      }

      a {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      span {
        font-size: 18px;
        white-space: nowrap;
      }

      img {
        filter: invert(1) brightness(100);
      }
    }
  }

  footer {
    width: 100%;
    border-top: 1px solid rgba(var(--foreground-rgb), 0.15);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3vw;
    height: 40px;
    gap: 16px;

    background-color: rgba(23, 21, 63, 0.3);
    backdrop-filter: blur(4px);

    z-index: 5;
    position: relative;
    margin-top: auto;

    @include tablet {
      position: fixed;
      bottom: 0px;
      margin-top: 0;
    }

    .tweet {
      transform: translateY(2px);

      img {
        transition: transform 0.15s ease-out;
        transform: rotate(0deg);
        filter: invert(1);
        &:hover {
          transform: rotate(-10deg);
        }
      }
    }
  }

  .gradients {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.65;
    z-index: -1;

    .gradientRight {
      position: absolute;
      top: 72px;
      right: -1000px;
      width: 1757px;
      height: 1506px;
      background: radial-gradient(
        closest-side at 50% 50%,
        #ffce00 0%,
        #ffce0000 100%
      );
      opacity: 0.2;
      transform: matrix(0.87, 0.48, -0.48, 0.87, 0, 0);
      z-index: -1;
      pointer-events: none;
    }

    .gradientLeft {
      top: -530px;
      left: -350px;
      width: 1379px;
      height: 1378px;
      position: absolute;
      background: radial-gradient(
        closest-side at 50% 50%,
        #f44b1b 0%,
        #f44b1b00 100%
      );
      opacity: 0.2;
      z-index: -1;
      pointer-events: none;
    }

    .gradientLeft2 {
      bottom: -330px;
      left: -350px;
      width: 1379px;
      height: 1378px;
      position: absolute;
      background: radial-gradient(
        closest-side at 50% 50%,
        #f44b1b 0%,
        #f44b1b00 100%
      );
      opacity: 0.2;
      z-index: -1;
      pointer-events: none;
    }

    .gradientRight2 {
      position: absolute;
      bottom: -900px;
      right: -1000px;
      width: 1757px;
      height: 1506px;
      background: radial-gradient(
        closest-side at 50% 50%,
        #ffce00 0%,
        #ffce0000 100%
      );
      opacity: 0.24;
      transform: matrix(0.87, 0.48, -0.48, 0.87, 0, 0);
      z-index: -1;
      pointer-events: none;
    }
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
