@import "@/styles/rules.scss";

.chainContainer {
  width: 100%;
  height: 5vh;
  background-color: rgb(var(--background-end-rgb));
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;

  .chainImg {
    user-select: none;
    margin-left: 6px;
    margin-right: 6px;
    @include tablet {
      margin-right: 12px;
    }
  }

  span {
    margin-right: 0px;
    @include tablet {
      margin-right: 12px;
    }
  }

  .chainSelect {
    transition: opacity 0.2s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

    font-size: 14px;
    @include tablet {
      font-size: 20px;
    }
  }

  .chainOption {
    z-index: 3;
    position: absolute;
    cursor: pointer;
    top: calc(5vh + 2px);
    user-select: none;

    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 100%;
    font-size: 14px;

    border-radius: 6px;
    text-align: center;

    padding-right: 12px;
    background-color: rgba(var(--background-end-rgb));

    &:hover {
      background-color: rgba(var(--background-start-rgb));
    }

    @include tablet {
      font-size: 20px;
      width: 200px;
      padding-right: 6px;
    }

    &:focus {
      outline: 0;
    }
  }
}
