@import "@/styles/rules.scss";

.chainContainer {
  height: 5vh;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;

  border: 1px solid rgba(var(--foreground-rgb), 0.4);

  .chainImg {
    user-select: none;
    margin-left: 6px;
    margin-right: 6px;
    @include tablet {
      margin-right: 12px;
    }
  }

  span {
    margin-right: 0px;
    @include tablet {
      margin-right: 12px;
    }
  }

  .chainSelect {
    transition: opacity 0.2s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;

    font-size: 14px;
    @include tablet {
      font-size: 20px;
    }
  }

  .chainOption {
    z-index: 3;
    position: absolute;
    height: 5vh;
    width: 100%;

    cursor: pointer;
    user-select: none;

    border: 1px solid rgba(var(--foreground-rgb), 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;

    border-radius: 6px;
    text-align: center;

    padding-right: 12px;
    background-color: #17153f;

    &:hover {
      background-color: darken(#17153f, 3%);
    }

    @include tablet {
      font-size: 20px;
      padding-right: 6px;
    }

    &:focus {
      outline: 0;
    }
  }
}
