@import "@/styles/rules.scss";

.tooltipWrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  margin-left: -150px;
  margin-top: 32px;

  background-color: rgb(var(--background-start-rgb));
  box-shadow: 0px 0px 4px 1px rgba(var(--foreground-rgb), 0.2);
  border-radius: 4px;
  color: rgba(var(--foreground-rgb));

  font-size: 14px;
  text-align: center;

  z-index: 4;

  transition: opacity 0.35s ease-out;

  width: 260px;
  @include tablet {
    width: 400px;
  }
}
